@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #730d88, #831a31);
}

header {
    background: linear-gradient(to right, #481044, #4f1e2f);
    display: flex;
    height: 65px;
    width: 100%;
}

#logo-img {
    height: 200%;
    width: 15%;
}

#logo {
    height: 50%;
    width: 50%;
    margin-left: 5%;
    display: flex;
}

h1 {
    font: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 5%;
}

#logo p {
    color: white;
    text-decoration: none;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
}

#link-bar {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

#link-bar a {
    color: white;
    text-decoration: none;
    margin-right: 25%;
    margin-top: 9%;
    font-family: 'Poppins', sans-serif;
}