@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #730d88, #831a31);
}

header {
    background: linear-gradient(to right, #481044, #4f1e2f);
    display: flex;
    height: 65px;
    width: 100%;
}

#logo-img {
    height: 200%;
    width: 15%;
}

#logo {
    height: 50%;
    width: 50%;
    margin-left: 5%;
    display: flex;
}

body h1 {
    font: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 300%;
}

#logo p {
    color: white;
    text-decoration: none;
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
}

#link-bar {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    margin-right: 10%;
}

#link-bar a {
    color: white;
    text-decoration: none;
    margin-right: 25%;
    margin-top: -5%;
    font-family: 'Poppins', sans-serif;
}

#link-bar a:after {
    display: block;
    content: '';
    border-bottom: solid 2px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%
}

#link-bar a:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}

#text {
    text-align: center;
    color: white;
    size: 50%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#buy {
    display: block;
    font-size: 150%;
    margin: 3% auto;
    width: 25%;
    cursor: pointer;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image : -webkit-linear-gradient(top, #000000, #6c6868);
    background-image : -moz-linear-gradient(top, #000000, #6c6868);
    background-image : -ms-linear-gradient(top, #000000, #6c6868);
    background-image : -o-linear-gradient(top, #000000, #6c6868);
    background-image : linear-gradient(to bottom, #000000, #6c6868);
    -moz-border-radius : 20px;
    -webkit-border-radius : 20px;
    border-radius : 20px;
}

#buy:hover {
    background-color: #6c6868;
    background-image : -webkit-linear-gradient(top, #6c6868, #000000);
    background-image : -moz-linear-gradient(top, #6c6868, #000000);
    background-image : -ms-linear-gradient(top, #6c6868, #000000);
    background-image : -o-linear-gradient(top, #6c6868, #000000);
    background-image : linear-gradient(to bottom, #6c6868, #000000);
}

.carousel {
    height: 500px;
    margin-top: -7%;
}

.carousel .carousel-item {
    width: 400px;
}